$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

.cart {
    overflow-y: hidden;
    h3 {
        color: #ff983f;
    }

    table {

        td,
        th {
            color: white;
        }

        tbody {
            border-bottom: #ff983f;
            border-top: #ff983f;

            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

            input {
                text-align: center;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .table {

        tbody,
        thead {
            .quantityData {
                display: none;
            }
        }

        tfoot {
            
            .quantity {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .table {

        tbody,
        thead {
            .quantityData {
                display: none;
            }
        }

        tfoot {
            
            .quantity {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .table {

        tbody,
        thead {
            .quantityData {
                display: none;
            }
        }

        tfoot {
            

            .quantity {
                display: none;
            }
        }
    }
}