<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="cart mt-3  border border-white border-opacity-25 ">
            <h3 class="text-center fw-bold">Shoping Cart</h3>
            <p class="text-white text-center">You have <span class="text-danger">{{cartProducts.length}}</span> items in your cart</p>
            <div class="headCart d-flex justify-content-center">
                <button class="btn btn-danger" (click)="clearCart()">Clear Shoping Cart</button>
            </div>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th class="quantityData">Quantiity</th>
                        <th>Total</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cartProducts; let index =index">
                        <td><img src="{{item.item.image}}" alt=""></td>
                        <td>{{item.item.title}}</td>
                        <td>{{item.item.price}} $</td>
                        <td class="quantityData">
                            <div class="quantity d-flex justify-content-between w-50">
                                <button class="btn btn-warning" (click)="addAmount(index)">+</button>
                                <input class="form-control w-50" type="number" (change)="detectChange()" [(ngModel)]="item.quantity" min="1">
                                <button class="btn btn-danger" (click)="minusAmount(index)">-</button>
                            </div>
                        </td>
                        <td>{{item.item.price*item.quantity}} $</td>
                        <td>
                            <button class="btn delete btn-danger" (click)="deleteProduct(index)">Delete</button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="quantity"></th>
                        <th>Total: {{total}} $</th>
                        <th class="order"><button class="btn btn-success h-auto" (click)="addCart()">Order Now</button></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="alert alert-success mt-5" role="alert" *ngIf="success"><strong>Well done !</strong>Your order is successfully send</div>