<nav class="navbar navbar-expand">
    <div class="container">
        <a class="navbar-brand fw-bolder badge text-black fs-4 text-white" routerLink="/">Market</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-bolder" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bolder" routerLink="/cart" routerLinkActive="active" >CART</a>
                </li>
            </ul>
        </div>
    </div>
</nav>